language: ruby
before_script:
  - "bundle exec rake refinery:testing:dummy_app > /dev/null"
script: "bundle exec rake spec"
notifications:
  email:
    - unixcharles@gmail.com
env:
  - DB=postgresql
  - DB=mysql

matrix:
  allow_failures:
    - rvm: rbx
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - rbx
  - jruby-19mode
