<% copywriting_phrases = @page.copywriting_phrases %>
<% if copywriting_phrases and copywriting_phrases.any? %>
  <div class='wym_skin_refinery page_part' id='copywriting-tab'>
    <ul>
      <% copywriting_phrases.each do |phrase| %>
        <li>
          <%= f.fields_for :copywriting_phrases, phrase do |p| %>
            <%= render 'refinery/copywriting/admin/phrases/value_field', :f => p %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class='wym_skin_refinery page_part' id='copywriting-tab'>
    <p><%= t('.no_copywriting_yet') %></p>
  </div>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'refinerycms-copywriting-tab' %>
<% end %>
