<section id='records'>
  <%= render :partial => 'records' %>
</section>
<aside id='actions'>
  <%= render :partial => 'actions' %>
</aside>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'refinerycms-copywriting' %>
<% end %>