<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'refinery/copywriting' %>
<% end %>
